<!--
  Generated template for the InfoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>info</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-slides pager>
        <ion-slide *ngFor="let imagen of casa.ad.images">
          <img src= 'https://img.segundamano.mx/medium/{{imagen.path}}'>
        </ion-slide>
    </ion-slides>
    <ion-card>
      <ion-card-title>
        <h2>
            {{casa.ad.subject}}
        </h2>
        <h2>
            {{ casa.ad.list_price.label }}
        </h2>
      </ion-card-title>
      <p *ngIf="casa.ad.hasOwnProperty('body')">
        {{ casa.ad.body}}
      </p>
    </ion-card>
    <ion-card>
      <ion-card-content *ngIf="casa.ad.ad_details.hasOwnProperty('lot_area')">
        <h2>
          Metros cuadrados
        </h2>
        <p *ngIf="casa.ad.ad_details.lot_area.hasOwnProperty('single')">
            {{casa.ad.ad_details.lot_area.single.label}}
        </p>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-content *ngIf="casa.ad.ad_details.hasOwnProperty('bathrooms')">
        <h2>
          Baños
        </h2>
        <p *ngIf="casa.ad.ad_details.bathrooms.hasOwnProperty('single')">
          {{casa.ad.ad_details.bathrooms.single.label}}
        </p>
          </ion-card-content>
      </ion-card>
  
</ion-content>
